@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #100C1D;
    color: #D7D7D7;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

p {
    font-size: 20px;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    margin-top: 50px;
    width: 80%;
    justify-content: center;
    margin-left: 12%;
}

nav ul li {
    margin-right: 6%;
    list-style: none;
}

nav ul li a {
    color: #D7D7D7;
    text-decoration: none;
    font-size: 1vw;

}

nav ul li a:hover {
    color: #F198FF;
}

/* intro section */
#intro {
    text-align: center;
    width: 100%;
    margin-top: 10%;
    position: relative;
}

#intro .stroke {
    font-size: 5vw;
    letter-spacing: 2%;
    color: #100C1D;
    text-shadow: -1px 0px #D7D7D7, 0px 1px #D7D7D7, 1px 0px #D7D7D7, 0px -1px #D7D7D7;
}

.title {
    font-size: 5vw;
    background: -webkit-linear-gradient(#eee, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.intro_star1 {
    position: absolute;
    left: 12%;
    top: -45px;
    width: 19vw;
}

.intro_star2 {
    position: absolute;
    left: 70%;
    top: 79%;
}

.intro_star3 {
    position: absolute;
    left: 75%;
    top: 42%;
}

/* arrow_section */
.arrow_section {
    margin-top: 15%;
    text-align: center;
}

.arrow_hover:hover {
    opacity: 0.5;
}

.arrow_hover {
    margin-top: -3%;
}

.scroll {
    margin-top: -14%;
    margin-bottom: 5%;
}

/* main section */
#main {
    margin-top: 15%;
    text-align: center;
}


.main_content {
    line-height: 50px;
    margin-top: 2%;
    font-size: 20px;
}

.icon_box1 {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    margin-left: 1%;
}

.css p {
    margin-top: 5%;
}

.iconbox1_wrapper {
    margin-right: 1%;
}

.iconbox1_wrapper p {
    font-size: 15px;
    padding-top: 10%;
}


.arrow {
    margin-bottom: 15%;
}

.main_project {
    position: relative;
}

.description {
    margin-top: 2%;
}

.description li {
    font-size: 20px;
    line-height: 2em;
}

.description li::marker {
    color: #F198FF;
}

.main_project img {
    width: 70%;
    margin: auto;
    margin-top: 3%;
    border-radius: 30px 30px;
    box-shadow: -2px 0px #D7D7D7, 0px 2px #D7D7D7, 2px 0px #D7D7D7, 0px -2px #D7D7D7;
    z-index: 9999;
}

.stack {
    margin-top: 1%;
}

.main_box {
    background-color: #F198FF;
    width: 75%;
    height: 80%;
    border-top-right-radius: 50%;
    position: absolute;
    top: 23%;
    left: 13%;
    z-index: -99;
}

.btn0 {
    margin-top: 8%;
    width: 15vw;
}

/* side project */
.side {
    width: 100%;
    height: auto;
    display: block;
}

.side_1 {
    margin-top: 15%;
    width: 100%;
    display: block;
    text-align: center;
}

.number_wrap {
    margin-left: 10%;
    display: flex;
    margin-bottom: 10%;
}

.number {
    width: 3vw;
}

.number_wrap h1 {
    font-size: 4vw;
    margin-left: 1%;
}

.number_wrap p {
    font-size: 1.8vw;
    margin-top: 1.5%;
    margin-left: 2%;
}

.side_project {
    margin-top: 15%;
    position: relative;
}

.side_project img {
    width: 70vw;
    margin: auto;
    margin-top: -1%;
    border-top-right-radius: 30%;
    z-index: 9999;
    filter: drop-shadow(0px 0px 5mm #CCFF00);
}


.green_ret {
    width: 70%;
    height: 100%;
    border: 3px solid #B5FF00;
    border-top-right-radius: 30%;
    position: absolute;
    left: 18%;
    top: -11%;
    z-index: -99;
}

.circle_wrap {
    position: relative;
    margin-left: 77%;
    z-index: 99;
    margin-top: -10%;
}

.circle {
    position: absolute;
    top: 10%;
    left: -30%;
}

.circle img {
    width: 15vw;
}

.circle p {
    color: #321837;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 1.8vw;
}

.sub_circle {
    position: absolute;
    top: -50%;
    left: 37%;
    width: 5vw;
}

.content_wrap {
    width: 100%;
    text-align: center;

}

.content_wrap p {
    line-height: 50px;
    font-size: 20px;
}

.icon_react {
    transform: scale(0.8);
    margin-top: -10%;
}

.tech {
    margin-top: 2%;
}

.btn1 {
    margin-top: 18%;
    width: 15vw;
}

/* side2 section */
.side_2 {
    margin-top: 15%;
    width: 100%;
    display: block;
    text-align: center;
}

.nudake_title1 {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 1.2vw;
    text-decoration: underline;
    text-decoration-color: #B5FF00;
    text-underline-position: under;
}

.nudake_wrapper_full {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.img_1 {
    width: 40vw;
}

.img_left {
    margin-right: 15px;
}

.txt_1 {
    font-size: 0.8vw;
    margin-top: 5%;
    line-height: 2em;
}

.btn_1 {
    width: 10vw;
    margin-top: 5%;
}

.arrow_1 {
    transform: scale(0.3);
    position: absolute;
    left: 30.5%;
    top: -15%;
}

.arrow_2 {

    position: absolute;
    transform: scale(0.3);
    top: -15%;
    left: 58%;

}

.nudake_title {
    text-align: left;
    margin-left: 10%;
    font-size: 1.2vw;
    margin-top: 10%;
    text-decoration: underline;
    text-decoration-color: #B5FF00;
    text-underline-position: under;
}

.green_btn_wrapper {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    position: relative;
}

.green_btn_wrapper img {
    width: 10vw;
}

.green {
    margin: 0 8%;
}

.green_1 p {
    font-size: 0.8vw;
    margin-top: 20%;
    line-height: 3rem;
}


.green_2 p {
    font-size: 0.8vw;
    line-height: 3rem;
    margin-top: 20%;
}

.green_3 p {
    font-size: 0.8vw;
    line-height: 3rem;
    margin-top: 14%;
}

.arrowpic_wrapper {
    position: relative;
    margin-top: 3%;
}

.green_arrow1 {
    position: absolute;
    left: 23%;
    width: 1.5vw;
}

.green_arrow2 {
    position: absolute;
    left: 42%;
    width: 7vw;
}

.green_arrow3 {
    position: absolute;
    left: 75%;
    width: 1.5vw;
}

.nudake_img_wrapper {
    margin-top: 6%;
    position: absolute;
    z-index: -99;
    margin-left: 9%;
}

.nudake_content {
    margin-top: 10%;
}

.btn3 {
    width: 15vw;
    margin-top: 37%;
}

/* side_3 section */
.side_3 {
    margin-top: 15%;
    width: 100%;
    display: block;
    text-align: center;
}


.side_project {
    margin-top: 15%;
    position: relative;
}

.side_project img {
    width: 70vw;
    margin: auto;
    margin-top: -1%;
    border-top-right-radius: 30%;
    z-index: 9999;
    filter: drop-shadow(0px 0px 5mm #CCFF00);
}


.green_ret {
    width: 70%;
    height: 100%;
    border: 3px solid #B5FF00;
    border-top-right-radius: 30%;
    position: absolute;
    left: 18%;
    top: -11%;
    z-index: -99;
}

.btn4 {
    width: 15vw;
    margin-top: 18%;
}


/* design section */
.bridge {
    text-align: center;
    margin-top: 20%;

}

.deco_star {
    position: absolute;
    left: 20%;
    width: 4vw;
}

.deco_star2 {
    position: absolute;
    left: 70%;
    margin-top: 5%;
}

.bridge_arrow {
    margin-top: 2%;
}

.container {
    height: 50vh;
    display: flex;
    align-items: center;
    margin-top: 15%;
}

.prev,
.next {
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
}

.prev {
    justify-content: end;
}

.next {
    justify-content: start;
}

.i {
    width: 20px;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.gallery {
    position: relative;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    position: absolute;
    width: 50%;
    transition: all 0.3s ease-in-out;

    overflow: hidden;
}

.spin {
    width: 100%;
    cursor: pointer;
}

.position1 {
    left: 25%;
    z-index: 3;
    transform: scale(1);
    opacity: 1;
}

.position1:hover {
    transform: scale(1.1);
}

.position2 {
    left: 45%;
    z-index: 2;
    transform: scale(0.8);
    opacity: 0.6;
}

.position3 {
    left: 35%;
    z-index: 1;
    transform: scale(0.6);
    opacity: 0.2;
}

.position4 {
    left: 5%;
    z-index: 1;
    transform: scale(0.6);
    opacity: 0.2;
}

.big_star:hover {
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.starme {
    text-align: center;
    margin-top: 10%;
    position: relative;
}

.starme img {
    width: 30vw;
    margin: 3% 3% 3% 3%;
}

.starme_1 {
    position: absolute;
    top: 0;
    left: 49%;
}

.starme_2 {
    position: absolute;
    top: 49%;
    left: 28%;
}

.starme_3 {
    position: absolute;
    top: 49%;
    left: 68%;
}

.starme_4 {
    position: absolute;
    top: 95%;
    left: 47.3%;

}

.intro {
    margin: 10% 10%;
}


.intro_content {
    font-size: 18px;
    line-height: 3rem;
    margin-top: 3%;
}

.intro_title {
    font-size: 1.5vw;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.program {
    margin: 10% 10%;
}

.program_ul_wrapper {
    display: flex;
}

.skills_wrapper {
    display: flex;
    margin-top: 8%;
}

.skill_wrapper {
    margin-right: 40%;
}

.icon_js {
    transform: scale(0.8);
}

.skill_star {
    margin-left: -5%;
}

.skill_star4 {
    margin-left: -3%;
}

.skill_star5 {
    margin-left: -7.5%;
}

.skill1_wrapper {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 20%;
}

.skill1_left {
    margin-right: 50%;
}

/* contact section */
.contact {
    width: 100%;
    background-color: rgba(241, 152, 255, 0.5)
}

.contact_wrapper {
    margin-top: 20%;
    padding: 5% 10%;
}

.contact_title {
    color: black;
    font-size: 4vw;
    font-weight: bold;
}

.contact_icon_wrapper p {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

.contact_icon_wrapper {
    display: flex;
    margin-top: 2%;
}

.contact_icon_wrapper img {
    margin-right: 4%;
}

@media only screen and (max-width: 720px) {

    .prev,
    .next {
        display: none;
    }

    .container {
        align-items: flex-start;
    }

    .heading {
        height: 20vh;
    }
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }
}